body {
    font-family: Arial, sans-serif;
    background-color: #fffbf6; 
  }

  h1 {
    color: #333;
  }
  body {
font-family: Arial, sans-serif;
background-color: #fffbf6; 
}

h1 {
color: #333;
}

.nav-tabs .nav-link {
color: #333; 
}

.nav-tabs .nav-link.active {

 background-color: #ddd; 
color: #333; 
}

.card {
border-radius: 5px;
background-color: #f8f9fa; 
border: 1px solid #ddd; 
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
-webkit-transition-duration: 0.3s;
transition-duration:0.3s ;
transition: transform 0.2s ease-in-out; 
}

.card:hover {
  -webkit-transform:scale(1.02) ;
transform: scale(1.02);
}

.card-title {
margin-bottom: 10px;
font-weight: bold;
}

.card-text {
line-height: 1.5; 
}